<app-header></app-header>
<app-footer></app-footer>

<div class="contenedor-ajustes">
    <div class="contenedor">
        <div class="informacion-usuario"> 
            <div class="cardi" style="width: 18rem;">
                <img src="/assets/img/avatar.jpg" class="card-img-top" alt="...">                
            </div>                                        
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">USUARIO</li>
                  <li class="list-group-item">NICKNAME</li>
                  <li class="list-group-item">EXPERIENCIA</li>
                </ul>          

        </div>

        

        <div class="btn-group">
            <a href="perfil" class="btn btn-primary" >Editar Perfil</a>
            <a href="comentario" class="btn btn-primary">Centro de Ayuda</a>
            <a href="politicas" class="btn btn-primary">Politicas de Privacidad</a>
        </div>
        
    </div>
   
    
   
</div>