

<body>

   <div class="ctn-general">
      

      <div class="ctn-uso">

         <h1>Aprendamos Idioma XINCA </h1>

         <div class="btn-group">
            <a href="perfil" class="btn btn-primary" >Editar Perfil</a>
            <a href="comentario" class="btn btn-primary">Centro de Ayuda</a>
            <a href="politicas" class="btn btn-primary">Politicas de Privacidad</a>
         </div>

         <div class="ctn-politicas">
         <h2> Política de privacidad </h2>
         <p> Su privacidad es importante para nosotros. Es política de Xinca respetar su privacidad y cumplir con cualquier ley y regulación aplicable con respecto a cualquier información personal que podamos recopilar sobre usted, incluso en nuestro sitio web, <a href="https://xinca.ul"> https : //xinca.ul </a> y otros sitios que poseemos y operamos. </p>
         <p> Esta política es efectiva a partir del 16 de octubre de 2021 y se actualizó por última vez el 16 de octubre de 2021. </p>
         <h3> Información que recopilamos </h3>
         <p> La información que recopilamos incluye tanto la información que nos proporciona consciente y activamente cuando utiliza o participa en cualquiera de nuestros servicios y promociones, y cualquier información enviada automáticamente por sus dispositivos en el curso del acceso a nuestros productos y servicios. </p>
         <h4> Datos de registro </h4>
         <p> Cuando visita nuestro sitio web, nuestros servidores pueden registrar automáticamente los datos estándar proporcionados por su navegador web. Puede incluir la dirección de Protocolo de Internet (IP) de su dispositivo, el tipo y la versión de su navegador, las páginas que visita, la hora y la fecha de su visita, el tiempo que pasa en cada página, otros detalles sobre su visita y los detalles técnicos que ocurren en junto con cualquier error que pueda encontrar. </p>
         <p> Tenga en cuenta que, si bien es posible que esta información no sea de identificación personal por sí misma, es posible combinarla con otros datos para identificar personalmente a personas individuales. </p>
         <h4> Información personal </h4>
         <p> Podemos solicitar información personal que puede incluir uno o más de los siguientes: </p>
         <ul>
            <li> Nombre </li>
            <li> Correo electrónico </li>
            <li> Número de teléfono / móvil </li>
         </ul>
         <h4> Razones legítimas para procesar su información personal </h4>
         <p> Solo recopilamos y usamos su información personal cuando tenemos una razón legítima para hacerlo. En cuyo caso, solo recopilamos información personal que sea razonablemente necesaria para brindarle nuestros servicios. </p>
         <h4> Recopilación y uso de información </h4>
         <p> Podemos recopilar información personal sobre usted cuando realiza cualquiera de las siguientes acciones en nuestro sitio web: </p>
         <ul>
            <li> Utilice un dispositivo móvil o un navegador web para acceder a nuestro contenido </li>
            <li> Contáctenos por correo electrónico, redes sociales o cualquier tecnología similar </li>
            <li> Cuando nos menciona en las redes sociales </li>
         </ul>
         <p> Podemos recopilar, retener, usar y divulgar información para los siguientes propósitos, y la información personal no se procesará más de una manera que sea incompatible con estos propósitos: </p>
         <p> Podemos recopilar, retener, usar y divulgar información para los siguientes propósitos, y la información personal no se procesará más de una manera que sea incompatible con estos propósitos: </p>
         <ul>
            <li> para permitirle personalizar o personalizar su experiencia en nuestro sitio web </li>
            <li> para contactarlo y comunicarnos con usted </li>
            <li> para permitirle acceder y utilizar nuestro sitio web, aplicaciones asociadas y plataformas de redes sociales asociadas </li>
            <li> para fines administrativos y de mantenimiento de registros internos </li>
         </ul>
         <p> Tenga en cuenta que podemos combinar la información que recopilamos sobre usted con información general o datos de investigación que recibimos de otras fuentes confiables. </p>
         <h4> Seguridad de su información personal </h4>
         <p> Cuando recopilamos y procesamos información personal, y mientras conservamos esta información, la protegeremos dentro de medios comercialmente aceptables para evitar pérdidas y robos, así como acceso, divulgación, copia, uso o modificación no autorizados. </p>
         <p> Aunque haremos todo lo posible para proteger la información personal que nos proporcione, le aconsejamos que ningún método de transmisión o almacenamiento electrónico es 100% seguro y nadie puede garantizar la seguridad absoluta de los datos. Cumpliremos con las leyes que nos sean aplicables con respecto a cualquier violación de datos. </p>
         <p> Usted es responsable de seleccionar cualquier contraseña y su nivel de seguridad general, garantizando la seguridad de su propia información dentro de los límites de nuestros servicios. </p>
         <h4> Cuánto tiempo conservamos su información personal </h4>
         <p> Conservamos su información personal solo durante el tiempo que sea necesario. Este período de tiempo puede depender de para qué estamos usando su información, de acuerdo con esta política de privacidad. Si su información personal ya no es necesaria, la eliminaremos o la haremos anónima eliminando todos los detalles que lo identifiquen. </p>
         <p> Sin embargo, si es necesario, podemos retener su información personal para nuestro cumplimiento de una obligación legal, contable o de informes o para fines de archivo en el interés público, con fines de investigación científica o histórica o con fines estadísticos. </p>
         <h3> Privacidad de los niños </h3>
         <p> No apuntamos ninguno de nuestros productos o servicios directamente a niños menores de 13 años, y no recopilamos a sabiendas información personal sobre niños menores de 13 años. </p>
         <h3> Transferencias internacionales de información personal </h3>
         <p> La información personal que recopilamos se almacena y / o procesa donde nosotros o nuestros socios, afiliados y proveedores externos tenemos instalaciones. Tenga en cuenta que las ubicaciones a las que almacenamos, procesamos o transferimos su información personal pueden no tener las mismas leyes de protección de datos que el país en el que inicialmente proporcionó la información. Si transferimos su información personal a terceros en otros países: (i) realizaremos esas transferencias de acuerdo con los requisitos de la ley aplicable; y (ii) protegeremos la información personal transferida de acuerdo con esta política de privacidad. </p>
         <h3> Sus derechos y control de su información personal </h3>
         <p> Siempre se reserva el derecho a ocultarnos información personal, en el entendido de que su experiencia en nuestro sitio web puede verse afectada. No lo discriminaremos por ejercer cualquiera de sus derechos sobre su información personal. Si nos proporciona información personal, comprende que la recopilaremos, la conservaremos, la usaremos y la divulgaremos de acuerdo con esta política de privacidad. Conserva el derecho a solicitar detalles de cualquier información personal que tengamos sobre usted. </p>
         <p> Si recibimos información personal sobre usted de un tercero, la protegeremos como se establece en esta política de privacidad. Si usted es un tercero que proporciona información personal sobre otra persona, declara y garantiza que tiene el consentimiento de dicha persona para proporcionarnos la información personal. </p>
         <p> Si previamente ha aceptado que usemos su información personal con fines de marketing directo, puede cambiar de opinión en cualquier momento. Le proporcionaremos la posibilidad de darse de baja de nuestra base de datos de correo electrónico u optar por no recibir comunicaciones. Tenga en cuenta que es posible que necesitemos solicitarle información específica para ayudarnos a confirmar su identidad. </p>
         <p> Si cree que la información que tenemos sobre usted es inexacta, desactualizada, incompleta, irrelevante o engañosa, comuníquese con nosotros utilizando los detalles proporcionados en esta política de privacidad. Tomaremos medidas razonables para corregir cualquier información que se considere inexacta, incompleta, engañosa o desactualizada. </p>
         <p> Si cree que hemos violado una ley de protección de datos relevante y desea presentar una queja, comuníquese con nosotros utilizando los detalles a continuación y bríndenos todos los detalles de la supuesta violación. Investigaremos su queja de inmediato y le responderemos, por escrito, exponiendo el resultado de nuestra investigación y los pasos que tomaremos para tratar su queja. También tiene derecho a ponerse en contacto con un organismo regulador o una autoridad de protección de datos en relación con su queja. </p>
         <h3> Límites de nuestra política </h3>
         <p> Nuestro sitio web puede tener enlaces a sitios externos que no son operados por nosotros. Tenga en cuenta que no tenemos control sobre el contenido y las políticas de esos sitios, y no podemos aceptar responsabilidad u obligación por sus respectivas prácticas de privacidad. </p>
         <h3> Cambios en esta política </h3>
         <p> A nuestra discreción, podemos cambiar nuestra política de privacidad para reflejar actualizaciones de nuestros procesos comerciales, prácticas aceptables actuales o cambios legislativos o regulatorios. Si decidimos cambiar esta política de privacidad, publicaremos los cambios aquí en el mismo enlace mediante el cual accede a esta política de privacidad. </p>
         <p> Si así lo exige la ley, obtendremos su permiso o le daremos la oportunidad de optar por participar u optar por no participar, según corresponda, de cualquier nuevo uso de su información personal. </p>
         <h3> Contáctenos </h3>
         <p> Si tiene alguna pregunta o inquietud con respecto a su privacidad, puede comunicarse con nosotros utilizando los siguientes detalles: </p>
         <p> Douglas Samayoa <br />
         dsamayoac3@miumg.edu.gt </p>
      </div>
      </div>
   </div>
</body>