<app-header></app-header>
<app-footer></app-footer>

<section class="contenedor-principal">
<div class="contenedor-perfil">

    <div class="form-container">
           
        <h1>PERFIL DE USUARIO</h1>
        <form action="#">
            <div class="control">                    
                <label for="name">Nickname</label>
                <i class="fa fa-user"></i>
                <input type="text" placeholder= "Usuario"name="name" id="name">
            </div>
            <div class="control">
                <label for="apodo">Contraseña</label>
                <input type="password"  name="correo" id="apodo">
            </div>           
            <div class="control">
                <label for="celular">Celular</label>
                <input type="text" name="celular" id="celular">
            </div>
            <div class="control">
                <label for="correo">Correo</label>
                <input type="email" name="correo" id="correo">
            </div>           
           
            <div class="control">
                <input type="submit" value="Actualizar Perfil">
            </div>
        </form>

    </div>
</div>
</section>