<nav class="navbar">
    <div class="container-fluid">
        <div class="inicio">
            <a href="inicio"><img src="/assets/img/house.png" alt=""></a>
            <label for="">Inicio</label>
        </div>
        <div class="leccion-hoy">
            <a href="leccion"><img src="/assets/img/papel.png" alt=""></a>
            <label for="">Leccion Hoy</label>
        </div>
        <div class="mis-lecciones">
            <a href="repaso"><img src="/assets/img/libros.png" alt=""></a>
            <label for="">Mis Lecciones</label>
        </div>
    </div>
</nav>