

    <header class="header">
        <div class="ctn-header">
            <label class="lbl-header">Aprendamos Idioma XINCA</label>
            <div class="btn-group">
                <a href="perfil" class="btn btn-primary" >Editar Perfil</a>
                <a href="comentario" class="btn btn-primary">Centro de Ayuda</a>
                <a href="politicas" class="btn btn-primary">Politicas de Privacidad</a>
             </div>
        </div>
    </header>

    <div id="fb-root"></div>

    <div class="ctn-data">
        
        <div class="col-md-6 pane">
                <div class="col-md-4">
                    <div class="alert alert-light"><h4>Comentarios</h4></div>
                </div>
                        <div id="result">         
                        </div>
               
                  <div class="col-md-8">
                      <form>
                          <div class="form-group">
                          <label>Nombre</label>
                          <input class="form-control" type="text"  id="name">
                          </div>
                          <div class="form-group">
                          <label>Comentario</label>
                          <textarea  id="comentar"class="form-control"></textarea>
                          </div>
                          <button type="button" class="btn btn-primary" onclick="">Enviar</button>
                      </form>
                  </div>
               
               
               
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
               
                  <script src="#"></script>
        </div>
    </div>

