
<app-header></app-header>
<app-footer></app-footer>

<div class="contenedor-favorito">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img style="width: 50%" style="align-items: center;"src="/assets/img/palabras.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GRUPOS DE PALABRAS</h5>
              <p style="text-align: center" class="card-text"> No </p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img style="width: 50%" style="align-items:center;"src="/assets/img/educacion.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PALABRAS APRENDIDAS</h5>
              <p style="text-align: center;"class="card-text">This </p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img style="align-items:center;" src="/assets/img/leer.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PALABRAS POR APRENDER</h5>
              <p style="text-align: center;" class="card-text">This.</p>
            </div>
            
          </div>
        </div>
      </div>
    
    
</div>