


<div class="contenedor-inicio">


    <h1 style="text-align: center;">MIS GRUPOS DE PALABRAS!</h1>


    <div class="ctn-barra-progreso">     

        <div class="ctn-barras">
            <p>Numeros</p>
            <div class="progress">
                <div id="progress1" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ></div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>


        <div class="ctn-barras">
            <p>Colores</p>
            <div class="progress">
                <div id="progress2" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ></div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>


        <div class="ctn-barras">
            <p>Animales</p>
            <div class="progress">
                <div id="progress3" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" > </div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>   
        <div class="ctn-barras">
            <p>Animales</p>
            <div class="progress">
                <div id="progress4" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" > </div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>        
        <div class="ctn-barras">
            <p>Animales</p>
            <div class="progress">
                <div id="progress5" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" > </div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>        
        <div class="ctn-barras">
            <p>Animales</p>
            <div class="progress">
                <div id="progress6" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" > </div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>             
        <div class="ctn-barras">
            <p>Numeros</p>
            <div class="progress">
                <div id="progress7" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ></div>
            </div>
            <div class="calculo">
                <p>Aprendidas</p><p>/</p><p>Total</p>
            </div>
        </div>


    </div>
    
</div>

